*{
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}




.box1{
    height: 200px;
    width: 200px;
    background: #30f33a;
    border-radius: 50%;
    border-top:10px solid black ;
    position: absolute;
    animation: moving 3s linear  0s infinite normal;
    
   
}
@keyframes moving {
    0%{
        background-color: aqua ;left:0px; top:0px;    
    }
    100%{
    background-color: brown;left:0px;top:0px;
    }
    
}