*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;

}
.hello h1 :hover{
    color: black;
    
}
.hello ul li :hover{
    color: black;
    }

.papa{
    width: auto;
    height: 100vp;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin: auto;
    
   
    
}
.hello  a{
    color: aliceblue;
    text-decoration: none;
}
.papa ul li{
    list-style: none;
    display: inline-block;
  
   margin: 0 12px;
   border-right:1px solid black ;
    padding-right: 8px;


}
.hero{
    height: 150px;
    align-items: center;
    display: flex;
   
    
}
.logo{
   width: 200px; 
    height:130px;
    background-size: cover;  
}
.button{
    margin-left: 100px;
}
.button{
    margin-left: 100px;
    width: 678px;
    height: 32px;
    background-color: rgb(3, 84, 99);
    display: flex;

}
.button i{
    color: white;
 margin-top: 7px;
 margin-left: 8px;
    size: 18px;
}
.button1{
    height: 30px;
    width: 600px;
    padding-left: 40px;
    border-top: 1px solid rgb(46, 44, 44);
    border-left: 1px solid rgb(46, 44, 44);
    border-bottom: 1px solid rgb(46, 44, 44);

    
    cursor: pointer;
 

}

.hero h1{
    font-size: 19px;
    font-weight: 10;
    padding-left: 150px;
}
.hero h2{
    font-size: 19px;
    font-weight: 10;
    padding-left: 30px;

}
.hello{
    height: 60px;
    background-color: rgb(22, 122, 122);
    color: antiquewhite;
    display: flex;
   padding-left: 20px;
   align-items: center;
   cursor: pointer;
   position: sticky;
   top:0;
   z-index: 100000;
}
.hello ul li:hover{
    color: rgb(10, 7, 20);
    
    
    
}
.zero{
    height: 40px;
    width: 170px;
    border-radius: 17px;
    border: 0.5px solid rgb(3, 46, 42);
    background-color: rgb(70, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: aliceblue;
}
.hello ul li{
    list-style: none;
    display: inline-block;
    padding-left: 40px;
    
}
.hello h1{
    font-size: 15px;
    font-weight: 5px;
    cursor: pointer;
    padding-left: 500px;
    font-family: 'Times New Roman', Times, serif;
    align-content: end;
    
}
.hello h2{
    font-size: 15px;
    font-weight: 5px;
    cursor: pointer;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    width: auto;
    height: 150px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
  margin-left: 50px;
  
}
.p12{
    display: flex;
    

}
.book33{
    width: 200px;
    height: 150px;
    background-size: cover;
    padding-left: 100px;
    margin-left: 800px;
}
.p12 samp{
    color: rgb(5, 61, 68);
    padding-left: 50px;
}
.chu p{
    margin-left: 50px;
    color: rgb(56, 55, 55);
    font-size: 20px;
    font-weight: 20;
}
.p12 h3{
    font-size: 53px;
    font-weight: 15;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 38, 38);



}
.p12 p{
    font-size: 20px;
    font-weight: 100;
}
.book1{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;
}
.hard2 p{
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 50px;
color: rgb(61, 60, 60);
margin-left: 30px;
}
.hard2 a{
    color: brown;
    margin-left: 30px;
}
.book2{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;

}
.hard3 p{
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 50px;
color: rgb(61, 60, 60);
margin-left: 30px;

}
.hard3 a{
    color: brown;
    margin-left: 30px;
}
.book3{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;
}
.hard4 p{
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 50px;
color: rgb(61, 60, 60);
margin-left: 30px;

}
.hard4 a{
    color: brown;
    margin-left: 30px;
}
.book4{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;   
}
.hard5 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;
}
.hard5 a{
    color: brown;
    margin-left: 30px;
}
.bhai{
    height: 140px;
    width: auto;
    
   margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 40px;
   display: flex;
   justify-content: space-between;

}
.bhai h3 span{
    color: rgb(18, 90, 90);
}

.bhai h3{
    font-size: 45px;
    font-weight: 400;
   font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

    
    color: rgb(22, 21, 21);
    
    padding-top: 10px;
    display: inline-block;
    

}


.budiploma{
    width: 170px;
    height: 40px;
   
    
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
   display: inline-block;
  align-items: center;
  margin-right: 20px;
  font-size: 15px;
  margin-top: 26px;
}
.buton{
    width: 170px;
    height: 40px;
    background-color: rgb(22, 122, 122);
    color: antiquewhite;
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
   display: inline-block;
  align-items: center;
  margin-right: 20px;
  font-size: 15px;
  margin-top: 26px;
}
.baap{
   
    max-height: 450px;
   
    
    margin-top: 45px;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-between;

}
.baap ::-webkit-scrollbar{
    width: 0;
    height: 0;
     
}
.baap #charge{
    min-width: 200px;
    height: 410px;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    
}
.bhai1:hover{
    border: 1px solid rgb(9, 82, 85);
    border-radius: 16px;
    background-color: rgb(234, 241, 241);
    cursor: pointer;
    height: 340px;
    padding-right:10px ;
}
.bhai2:hover{
    border: 1px solid rgb(9, 82, 85);
    border-radius: 16px;
    background-color: rgb(234, 241, 241);
    cursor: pointer;
    height: 340px;
    padding-right:10px ;
}

.bhai3:hover{
    border: 1px solid rgb(9, 82, 85);
    border-radius: 16px;
    background-color: rgb(234, 241, 241);
    cursor: pointer;
    height: 340px;
    padding-right:10px ;
}
.bhai4:hover{
    border: 1px solid rgb(9, 82, 85);
    border-radius: 16px;
    background-color: rgb(234, 241, 241);
    cursor: pointer;
    height: 340px;
    padding-right:10px ;
}
.bhai5:hover{
    border: 1px solid rgb(9, 82, 85);
    border-radius: 16px;
    background-color: rgb(234, 241, 241);
    cursor: pointer;
    height: 340px;
    padding-right:10px ;
}
.photo1:hover{
   
    margin-right: 30px;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 20, 20);
}
.photo3:hover{
   
    margin-right: 30px;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 20, 20);
}
.photo5:hover{
   
    margin-right: 30px;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 20, 20);
}
.photo4:hover{
   
    margin-right: 30px;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 20, 20);
}
.photo2:hover{
    margin-right: 30px;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 20, 20);
}

.bhai1{
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai2{
    width: 200px;
    height: 400px;
    display: inline-block;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai3{
    width: 200px;
    height: 400px;
    display: inline-block;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai4{
    width: 200px;
    height: 400px;
    display: inline-block;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai5{
    width: 200px;
    height: 400px;
    display: inline-block;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai6{
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: rgb(41, 124, 99);
    border-radius:50% ;
    border: 1px solid rgb(3, 54, 39);
    padding-top: 2px;
    color: aliceblue;
    box-shadow: 30px 30px 30px rgba( 0, 0, 0, 0.3);
}
.bhai6 i{
    padding-top: 8px;
    margin-top: 8px;
}
.photo1{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;
}
.bhai1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;
}
.bhai1 p1{
    color: brown;
    margin-left: 30px;
}
.photo2{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px; 
}
.bhai2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;
}
.bhai2 a{
    color: brown;
    margin-left: 30px;
}
.photo3{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px; 
}
.bhai3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;
}
.bhai3 a{
    color: brown;
    margin-left: 30px;
}   
.photo4{
    width: 150px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px;   
}
.bhai4 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;  
}
.bhai4 a{
    color: brown;
    margin-left: 30px;   
}
.photo5{
    width: 140px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px 30px; 
}
.bhai5 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 50px;
    color: rgb(61, 60, 60);
    margin-left: 30px;
}
.bhai5 a{
    color: brown;
    margin-left: 30px;

}
.bca{
   
    width: auto;
    height: 150px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
  margin-left: 50px;

}
.poly1{
    width: auto;
    height: 150px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
  margin-left: 50px;

}
.poly2{
    display: flex;
}
.bca1{
    display: flex;
    
}
.poly2 h3{
    font-size: 53px;
    font-weight: 15;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 38, 38);
  
}
.bca1 h3{
    font-size: 53px;
    font-weight: 15;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 38, 38);

}
.poly2 samp{
    color: rgb(5, 61, 68);
    padding-left: 50px;

}
.bca1 samp{
    color: rgb(5, 61, 68);
    padding-left: 50px;
}
.book35{
    width: 200px;
    height: 150px;
    background-size: cover;
    padding-left: 100px;
    margin-left: 600px;    
}
.book34{
    width: 200px;
    height: 150px;
    background-size: cover;
    padding-left: 100px;
    margin-left: 800px;
   
}
.bca1 p{
    font-size: 20px;
    font-weight: 100;
}
.fotter{
    height: 670px;
    width: auto;
    background-color: rgb(230, 227, 227);
    
    padding-left: 30px;
}
.rat{
    height: 130px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    font-family:'Times New Roman', Times, serif ;
    padding-top: 70px;
    font-weight: 700;
}
.rat1 p{
    padding-left: 30px;
    margin-left: 20px;
}
.rat1{
    margin-left: 30px;
}
.rat2{
    margin-left: 30px;
}
.rat3{
    margin-left: 30px;
}
.rat4{
    margin-left: 30px;
}



.rat2 p{
    padding-left: 30px;
    margin-left: 25px;
}
.rat3 p{
    padding-left: 30px;
    margin-left: 25px;
}
.rat4 p{
    padding-left: 30px;
    margin-left: 25px;
}
.moss{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 30PX;
}
.logo22{
    height: 100px;
    width: 199px;
    background-size: cover;
    padding-left:2px ;
    margin-right: 50px;
    margin-bottom: 70px;
    padding-bottom: 40px;
}
.moss h2{
    color: rgb(31, 82, 82);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 40px;

}
.con{
height: 40%;
width: 100%;
display: flex;


}
.number{
    height: 200px;
    width: 250px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(60, 66, 71);
}
.dirary{
    height: 200px;
    width: 250px;
    margin-left: 85px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(60, 66, 71); 
}
.nnn{
    height: 200px;
    width: 250px;
    margin-left: 85px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(60, 66, 71); 
}
.parafram{
    height: 200px;
    width: 250px;
    margin-left: 48px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(60, 66, 71);

}
.insta{
    height: 30px;
    width: 100px;
    border: 2px solid rgb(2, 60, 70);
    border-radius: 20px;
    background:transparent;
}
.parafram i{
    padding-top: 30px;
    padding-right: 8px;
    margin-top: 10px;
}
.hello a{
text-decoration:none ;
color: aliceblue;
}
.budiploma{
    width: 170px;
    height: 40px;
     box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); 

    background-color:white;
    color: white;
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
   display: inline-block;
  align-items: center;
  margin-right: 20px;
  font-size: 2rem;
  margin-top: 26px;
  padding-left: 1rem;
}
.buton{
    width: 170px;
    height: 40px;
     box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); 

    background-color:white;
    color: white;
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
   display: inline-block;
  align-items: center;
  margin-right: 20px;
  font-size: 2rem;
  margin-top: 26px;
  padding-left: 1rem;
}

.buton #option{
   
    background-color: black;
}
.budiploma:hover{
    
    border: 3px solid rgb(113, 248, 72);
    width: 170px;
    border-radius: 17px;
    color: black;
    height: 40px;
}
.buton:hover{
    
    border: 3px solid rgb(113, 248, 72);
    width: 170px;
    border-radius: 17px;
    color: black;
    height: 40px;
}
.buton2diploma:hover{
    
    border: 3px solid rgb(113, 248, 72);
    width: 170px;
    border-radius: 17px;
    color: black;
    height: 40px;
}
.buton2:hover{
    
    border: 3px solid rgb(113, 248, 72);
    width: 170px;
    border-radius: 17px;
    color: black;
    height: 40px;
}

.buton2diploma{
    width: 170px;
    height: 40px;
     box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); 

    background-color:white;
    color: white;
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  
  display: none;
  
  font-size: 1rem;
  margin-top: 26px;
  padding-left: 1rem;
}
.buton2{
    width: 170px;
    height: 40px;
     box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); 

    background-color:white;
    color: white;
    border: 1.5 solid rgb(3, 48, 56);
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  
  
  
  font-size: 1rem;
  margin-top: 26px;
  padding-left: 1rem;
}
#diableselect{
    display: none;
}