*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.hello{
    box-shadow: 3px 3px 10px 5px black;
    background-color: aqua;
}
.maindiv{
    height: 650px;
    width: 100%;
}
.maindiv h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 30px;
}
.hh{
    height: 270px;
    width: 270px;
    background-size: 100% 100%;
    background-position: 0%;
   margin-top: 180px;
  

}
.papa a{
    text-decoration: none;
    color: black;

}
.papa a:hover{
    color: rgb(245, 18, 18);
}
.papa{
    width: 100%;
    height: 100vp;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin: auto;
    

    
}
.papa ul li:hover{
    color: rgb(223, 21, 21);
}
.papa ul li{
    list-style: none;
    display: inline-block;
  
   margin: 0 12px;
   border-right:1px solid black ;
    padding-right: 8px;


}