*{
    margin: 0;
    padding: 0;
}


.whole_about{
    height: 100%;
    width: 100%;
    
    
}
/* .teratree{
    background-position: center;
    background-size: cover; 
    filter: blur(4px);
} */

.back{
    height: 2rem;
    width: 5rem;
    background:  rgb(3, 84, 99);
    border-radius: 0 0 1.1rem 0;

   
    
  
  
    padding-left: 1rem;
    border: 1.1px solid white;
}
.back_to_home {
    
    position: sticky;
   top:0;
   z-index: 100000;
   
}
.back_to_home a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 1.2rem;
    padding-left: 0rem;
}
/* .back_to_home a:hover{ 
    background: white;
    color:black;
    border: 1px solid rgb(41, 40, 40);
} */

.back:hover{ 
    background: white;
    color:black;
    color: black;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 0 0 1.1rem 0;
}
.back{
    line-height: 2rem;   
}
.headline_of_about  .back {
    position: sticky;
    top:0;
    z-index: 100000;
   display: flex;
   justify-content: center;
   cursor: pointer;
}
.headline_of_about  {
   
   display: flex;
   justify-content: center;
   cursor: pointer;
}

.about{
   
    
    border: 0.4rem solid white;
    /* filter: blur(2px); */
    height: 4rem;
    background:transparent;
    background-color:  rgba(141, 202, 221, 0.336);
    width: 20rem;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    line-height: 2.5rem;
    align-content: center;
    border-radius: 2rem 0 2rem 0;
    font-size: 1.3rem;
    

}
.contener li{
    font-size: 1.5rem;
}
.maha{
    width: auto; 
    height: auto;
    background-image: url('backgroung2.jpg');
background-position: 0;
margin-top: -3rem;
    background-size: cover;
}
.contener{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 65rem;
    width: auto;
    margin-top: 5rem;
    color: white;
    font-size: 2rem;
   
    padding-left: 2rem;
}
samp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f9fd03; 
}
.para1_of_hello{
    font-size: 3.5rem;
}
.footer_of_about{
    height: 1rem;
    width: auto;
    color: white;
    background: #000;
  
}
.contant_of_footer{
    background: #000;
    line-height: 2rem;
}
.midimage1{
    height: 14rem;
    width: 14rem;
    background-position: 0%;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid white; 
}
.imgdiv2{
    height: 14rem;
    width: 14rem;
    margin-top: 4rem;
}
.imgdiv1{
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;

}
.divimagelast{
    margin-left: 8rem;
}
.imgdiv4{
    height: 14rem;
    width: 14rem;
    margin-top: 4rem;

}
.imgdiv3{
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;

}
.midimage3{
    font-style: italic;
    height: 20rem;
    margin-top: 2.5rem;
    width: 27rem;
    margin-left: 13rem;
}
.midimagemain{
    display:flex;
}
.midimage2{
    height: 14rem;
    width: 14rem;
    background-position: 0%;
    background-size: cover; 
    border-radius: 50%;
    border: 4px solid white;  
}
.midimage{
    
    align-items: center;
    align-content: center;
    margin-left: 2rem;
}
.imgthree{
    height: 20rem;
    width: 30rem;
}
.img_og{
    height: 20rem;
    width: 30rem;
    background-size: cover;
    background-position: 0%;
}
.three{
    height: 60rem;
    width: auto;
    background-image: url('bg3.jpeg');
    background-position: 0%;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding-left: 2rem;
}
.secondpart{
    height: 55em;
    width: auto;
    background-image: url('backgroung2.jpg');
    background-position: 0;
    background-size: cover;
    padding-top: 10rem ;
}
.journey{
    height: 85em;
    width: auto;
    background-image: url('backgroung2.jpg');
    background-position: 0;
    background-size: cover;
    padding-top: 10rem ;
}


.secondpart h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid white;
    border-radius: 2rem;
    display: inline;
    color: white;
    
    padding: 2rem;
}
.secondpart h2{
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2rem;
}
.secondpart p{
    font-size: 1.6rem;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-style: italic;
    margin-top: 2rem;

}
.journey h3 {
    font-size: 2rem;
    color: white;
    margin-top: 6rem;
}
.journey h4{
    margin-top: 2px;
    color: white;
    
}
.journey h2{
    margin-top: 4rem;
    font-size: 3rem;
    color: white;
    border: 0.5rem solid white;
    border-radius: 100rem;
    padding: 1.1rem;
    display: inline;
    
}
.secondrow{
    display: flex;
    width: auto;
    height: 40rem;
    justify-content: space-evenly;
}
.secongrow{
    width:20rem ;
    
}
.imgair .rockit{
    width: 5rem;
    height: 5rem;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.thiredrow{
    width: 20rem;
    height: 40rem;
    
}
.thiredrow p{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px;
    
}
.firstrow{
    width: 20rem;
    height: 40rem;
    box-shadow: 2px;
}

.firstrow p{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px;
}
.masti samp{
    margin-left: 19rem;
    color: white;
}
.masti{
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;
    font-style: italic;
    font-size: 1.4rem;
}