*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    width: 100%;
    height: 100vp;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin: auto;
    text-decoration: none;

    
}
.main ul li :hover{
    color: #da0d0d;
    
}
.main a{
    text-decoration: none;
    color: black;
}
.main ul li{
    list-style: none;
    display: inline-block;
   margin: 0 12px;
   border-right:1px solid black ;
    padding-right: 8px;


}
.nnn{
    height: 610px;
    width: 100%;
    background-color: rgba(86, 164, 224, 0.9);
}
.bg{
    height: 610px;
    width: 100%;
    background-image: url('https://www.shutterstock.com/image-photo/blurred-background-undergrad-traditional-college-600nw-276437426.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    
}
.lg{
height: 440px;
width: 300px;

box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
margin-top: 130px;
margin-right: 100px;
border-radius: 20px;
background: transparent;
background-color: rgba(86, 164, 224, 0.159);
}
.bg h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 100px;
}
.bg h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100px;
   margin-top: 20px;
   margin-left: 200px;
}
.note{
    color: white;
    height: 140px;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
  margin-top: 35%;
  margin-right: 10px;
}
.logo22{
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: 0%;
    margin-top: 30px;
}
.button{
    height: 50px;
    width: 80%;
    border-radius: 25px;
    border: 1px solid white;
    padding-left: 20px;
    margin-top: 20px;
    background: transparent;
box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.3);

}

.hyy a{
    text-decoration: none;
   font-weight: 400;
    color: white;
    margin-right: 20px;
    font-size: 15px;
    padding-left: 10px;

}

.per{
    display: flex;
    height: 70px;
    width: auto;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-top: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  
}
.sumit{
    height: 50px;
    width: 70%;
    background: rgba(86, 169, 224, 1.7);
    border-radius: 25px;
    border: 2px solid rgb(252, 246, 246);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(239, 241, 243);
    box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.3);
}
.sumit:hover{
    cursor: pointer;
    background: #033374;
    color: aliceblue;
}

.button:hover{
    cursor: pointer;
    background: #eef1f5;
    color: rgb(12, 12, 12);
}

