*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    height: 30px;
    width: 100%;
   font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    border-right:1px solid black ;
    padding-left: 9px; 
    text-decoration: none;
    color: black;
}
.helllo1 a{
    color: black;
    text-decoration: none;
}
.helllo1{
    margin-right: 15px;
}
.helllo2{
    margin-right: 15px;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    border-radius: 3px;
}
.helllo2 a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}