*{
    margin: 0%;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.hello h1 :hover{
    color: black;
    
}


.top a{
text-decoration: none;
color: aliceblue;
}
.papa a{
    text-decoration: none;
    color: black;
}
.papa ul :hover{
    color: red;
}
.hello ul li :hover{
    color: black;
    }


.hello  a{
    color: aliceblue;
    text-decoration: none;
}
/* .papa{
    width: auto;
    height: 100vp;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin: auto;
    position: sticky;
    top:0;
    z-index: 100000;
    color: white;
   
    border-radius: 0 0 0 ;

    background-color: rgb(3, 84, 99);
    
    
} */
 
.back{
    height: 2rem;
    width: 5rem;
    background:  rgb(3, 84, 99);
    border-radius: 0 0 1.1rem 0;

   
    
  
  
    padding-left: 1rem;
    border: 1.1px solid white;
}
.back_to_home {
    
    position: sticky;
   top:0;
   z-index: 100000;
   
}
.back_to_home {
    
    position: sticky;
   top:0;
   z-index: 100000;
   
}
.back_to_home a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 1.2rem;
    padding-left: 0rem;
}
.back:hover{ 
    background: white;
    color:black;
    color: black;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 0 0 1.1rem 0;
}
.back{
    line-height: 2rem;   
}
.headline_of_about  .back {
    position: sticky;
    top:0;
    z-index: 100000;
   display: flex;
   justify-content: center;
   cursor: pointer;
}
/* .papa h1{
    font-size: 1.2rem;
    font-style: italic;
    color: white;

} */
.div1{
    height: 50px;
    width: 98%;
    position: center;
    padding-left: 30px;
    
    background-color: rgba(230, 170, 8, 0.952) ;
    color: rgba(252, 250, 250, 0.979);
    padding-bottom: 3px;
}
.div1 p{
    font : 9px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    
}
.div1 h6{
    font-size: 15px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    line-height: 2rem;
}
.main{
height: 1000px;
width: 100%;
margin-top: -3rem;
background-position: center;
background-image: url('https://www.shutterstock.com/image-photo/cropped-portrait-young-handsome-smiling-600nw-2202647425.jpg');
background-size: cover;
}
.top{
    height: 60px;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.556);
   padding-top: 10px; 
    display: flex;
   
}
.photo22{
    background-color:  rgba(0, 0, 0, 0.556);
    height: 1000px;
    width: 100%;
    
    color: white;
}
.top i{
    color: rgba(253, 250, 250, 0.945);
    font-size: 25px;
   padding-top:20px ;
    justify-content: center;
    padding-left: 30px;
}
.top p{
    color: white;
    font-weight: 100;
    margin-left: 80%;
    margin-top: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    height: 37px;
    width: 98px;
    font-weight: 100;
    box-shadow:inset;
    border: 1px solid rgba(94, 84, 2, 0.918);
    border-radius: 25px;
    background-color: rgba(230, 170, 8, 0.952) ;
    color: aliceblue;
    margin-left: 6px;
   margin-top: 10px;
    
   
}
.mid{
    height: 200px;
    width: 100%;
    background-position:center ;

}
.mid h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-top: 120px;
   
}
.mid p{
    color: aliceblue;
    font-weight: 100;
    font-size: 15px;
 
}
.high{
    height: 230px;
    width: 100%;
    display: flex;
    background-position: center;
    margin-top: 80px;
justify-content: space-evenly;
}
.high1{
    height: 190px;
    width: 268px;
    background-color: transparent;
    background-color:  rgba(0, 0, 0, 0.656);
  
    color: rgba(238, 158, 9, 0.973);
}
.high h1{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
}
.high p{
    font-size: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: rgba(240, 248, 255, 0.801);
    margin-left: 20px;
    margin-top: 10px;
}
.hello{
    height: 30px;
    width: 150px;
   background-color: rgba(238, 158, 9, 0.973);
    border-radius: 20px;
    border: 0.6 solid white;
    margin-left: 20px;
    margin-top: 20px;
    color: aliceblue;
}
.high i{
font-size: 26px;
margin-top: 30px;
margin-left: 20px;
}
.high5{
    height: 190px;
    width: 268px;
    background-color:  rgba(0, 0, 0, 0.656);
    
    color: rgba(238, 158, 9, 0.973);
}
.high2{
    height: 190px;
    width: 265px;
    background-color:  rgba(0, 0, 0, 0.656);
    
   
    color: rgba(238, 158, 9, 0.973);
}
.high3{
    height: 190px;
    width: 265px;
    background-color:  rgba(0, 0, 0, 0.656);
  
    color: rgba(238, 158, 9, 0.973);
}
.high4{
    height: 190px;
    width: 265px;
    background-color:  rgba(0, 0, 0, 0.656);
    
    color: rgba(238, 158, 9, 0.973);
}
.fotter{
    height: 50px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
}
.select {
   margin-top: 4.2rem;
    width: 10rem;
    padding: 0.5rem;
    line-height: 2rem;
    background: rgba(15, 15, 15, 0.836);
    color: white;
    border: 4px solid white;
    border-radius: 3rem;
    height: 2rem;
    text-decoration: none;


}
.select h1{
    font-size: 1rem;
}
.select h1:hover{
    background-color: white;
    color: black;
   
}
.select li{
    list-style-type: none;
}
.even{
   color: white;
   text-shadow: 1rem white;
   margin-left: 2rem;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: -2rem;
}
.mid h1{
    font-size: 2rem;
}
.mid select{
    display: block;
}
.selecter{
    width: 10rem;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 2rem;
    padding-left: 1.3rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #D4A017 ; */
    border: 2px solid white;
    color: white;
    background-color:    rgba(0, 0, 0, 0.556);
    text-decoration: none;
}
#select3{
    display: none;
}
#select2{
    display: none;
}
.selecter:hover{
    background-color:    rgba(0, 0, 0, 0.556);
    border: 4px solid rgb(14, 255, 14);
}
#optine{
    color:white;
    background-color: black;
}
